table {
    border: 5px solid black;
    border-collapse: collapse;
    width:950px;
    height:150px;
}

h1{
  font-size: 600%;
  text-align: center;
}

tr, th{

border: 5px solid black;
border-collapse: collapse;


}

#days{
margin:100px;
}

body{
  background-size: cover;
  background-image: url('images.jpg');
  background-attachment: fixed;

}
